TURSO_DATABASE_URL=libsql://testclude-ahmedtalaltwd7.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJnaWQiOiIzNDFlYmJiNi1iN2ViLTRmZTktOTczMy05MDdlNzdlMWNkYTkiLCJpYXQiOjE3NTYxNDY1MDMsInJpZCI6IjgyMGY4ODIwLTQ3NTEtNDljNC05YmRmLTQ3OWJjMjcyMGQyOCJ9.4LVvG6pKiIcLu9jHNA5BjXhZ8Zwq4-3XsmhpvEJEJOrkHUNTj3nJzWm45rU_1iU8gB0nlbPAXvjzs4atW5rgDg